header {
    background: rgb(0, 0, 0);
}

li {
    color:rgb(255, 255, 255)
}

h1 {
    display: inline;
}

#logo {
    display: inline;
}

nav {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 110px;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}