    p  {
    text-align: center;
    }
     
    h1 {
    text-align: center;
    }
    
    strong {
    color: rgb(164, 193, 212);
    }
    
    .principal {
    background-image: url('3090-wallpaper-Top.png');
    background-repeat: no-repeat;
    font-size: larger;
    }
    
    .itens {
    font-style: italic;
    }
    
    .beneficios {
    background-color: rgb(255, 255, 255);
    font-style: oblique;
    font-size: larger;
    }

    h2 {
    font-style: oblique;
    }

    #placavideo {
    width: 100%;
    height: 100%;
   }

   h3 {
    font-size: larger;
   }