p {
    text-align: center;
}


h1 {
    text-align: center;
}

strong {
    color: rgb(164, 193, 212);
}

.principal {
    background-image: url('3090-wallpaper-Top.png');
    background-repeat: no-repeat;
}

.itens {
        text-align: center;
      font-style: italic;
}

.beneficios {
     text-align: center;
     font-style: italic;
}


