body {
    
}

background {
    
}
p {
    text-align: center;
}

.principal {
    background-image: url(3090-wallpaper-Top.png) ;
}

h1 {
    text-align: center;
}

strong {
    color: rgb(255, 255, 255);
}

.itens {
      font-style: italic
}

.beneficios {
      background-image: url(3090-wallpaper-Top.png)
}

h2 {
    text-align: center;
}
